@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
Hello there.
This is a dynamic string from controller
<br />
 @Model.Foo
<br />
Now for my React app:
<div id="react-app"></div>

<script src="~/assets/bundles/bundle.js"></script>